/***************************************************************************************************************************************************************
								dhtmlxToolbar "AQUA DARK" skin
***************************************************************************************************************************************************************/
table.dhtmlxToolbarTableOuter_AquaDark {
	height: 30px;
}
td.dhtmlxToolbarTopLeft_AquaDark {
	width: 8px;
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_top_bg_left.gif");
	background-repeat: no-repeat;
}
td.dhtmlxToolbarTopRight_AquaDark {
	width: 8px;
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_top_bg_right.gif");
	background-repeat: no-repeat;
}
div.dhtmlxToolbar_AquaDark {
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_top_bg_middle.gif");
	background-repeat: repeat-x;
	width: 1100px;
	height: 30px;
}
div.dhtmlxToolbarVer_AquaDark {
	position: absolute;
	top: 70px;
	left: 20px;
	/*
	background-image: url("../imgs/dhtmlxtoolbar/webbar_bg_ver.gif");
	background-repeat: repeat;
	*/
	background-color: #C5CBCC;
	/* width: 1%; */
	height: 600px;
	border: silver 1px solid;
	/* -moz-user-select: none; */
	overflow: hidden;
}
div.dhtmlxToolbar_AquaDark table.dhtmlxToolbarTable_AquaDark {
	width: 100%;
	height: 100%;
	/*
	border: #FFFFFF 1px solid;
	border-bottom: #E0E0E0 1px solid;
	*/
}
div.dhtmlxToolbarVer_AquaDark table.dhtmlxToolbarTable_AquaDark {
	@height: 100%;
	border: #FFFFFF 1px solid;
	border-bottom: #E0E0E0 1px solid;
	/* border-bottom: none; */
}
div table.dhtmlxToolbarTable_AquaDark td {
	white-space: nowrap;
	position: relative;
}
/*****************************************************************************************************************************************************************
	SEPARATOR
*****************************************************************************************************************************************************************/
div table.dhtmlxToolbarTable_AquaDark td.itemSeparator div.dhtmlxToolbarSeparator {
	position: relative;
	width: 0px;
	margin-left: 3px;
	margin-right: 3px;
	border-left: #303030 1px solid;
	border-right: #CECECE 1px solid;
	margin-top: -2px;
	#margin-top: 1px;
	font-size: 1px;
	cursor: default;
	height: 26px;
	-moz-user-select: none;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSeparatorVert div.dhtmlxToolbarSeparator {
	padding-left: 3px;
	margin-right: 3px;
	border-bottom: #808080 1px solid;
	margin-top: 1px;
	font-size: 1px;
	cursor: default;
	height: 1px;
	-moz-user-select: none;
}
/*****************************************************************************************************************************************************************
	TEXT
*****************************************************************************************************************************************************************/
div table.dhtmlxToolbarTable_AquaDark td.itemText div.dhtmlxToolbarText {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	font-size: 11px;
	font-weight: bold;
	font-family: Arial;
	font-size: 11px;
	color: #FFFFFF;
	cursor: default;
	height: 18px;
	-moz-user-select: none;
}
div table.dhtmlxToolbarTable_AquaDark td.itemTextVert div.dhtmlxToolbarText {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
	font-size: 11px;
	font-family: Tahoma;
	font-weight: bold;
	color: #303030;
	cursor: default;
	-moz-user-select: none;
}
/*****************************************************************************************************************************************************************
	INPUT
*****************************************************************************************************************************************************************/
div table.dhtmlxToolbarTable_AquaDark td.itemButtonInput .dhtmlxToolbarButtonInput {
	position: relative;
	height: 15px;
	border-top: #303030 1px solid;
	border-left: #303030 1px solid;
	border-right: #CECECE 1px solid;
	border-bottom: #CECECE 1px solid;
	margin-top: -1px;
	#margin-top: 3px;
	padding-left: 2px;
	padding-right: 2px;
	font-family: Arial;
	font-size: 11px;
	color: #000000;
	padding-top: 2px;
}
/*****************************************************************************************************************************************************************
	BUTTON
*****************************************************************************************************************************************************************/
div table.dhtmlxToolbarTable_AquaDark td.itemButton {
	cursor: pointer;
	font-weight: bold;
	font-family: Arial;
	font-size: 11px;
	-moz-user-select: none;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButton div.itemDefault {
	position: absolute;
	display: none;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButton div.itemOver {
	position: absolute;
	border-left: #CECECE 1px solid;
	border-right: #CECECE 1px solid;
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_top_bg_over.gif");
	background-repeat: repeat-x;
	top: 0px;
	left: 0px;
	height: 28px;
	height= 26px;
	right: 0px;
	width= 100%;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButton div.itemPressed {
	position: absolute;
	border-left: #303030 1px solid;
	border-right: #303030 1px solid;
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_top_bg_pressed.gif");
	background-repeat: repeat-x;
	top: -1px;
	left: 0px;
	height: 30px;
	height= 26px;
	right: 0px;
	width= 100%;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButton div.dhtmlxToolbarButton {
	position: relative;
	height: 100%;
	color: #FFFFFF;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButton div.dhtmlxToolbarButtonDisabled {
	position: relative;
	height: 100%;
	color: #F6C09D;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButton div.dhtmlxToolbarImage {
	position: relative;
	width: 16px;
	height: 16px;
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 3px;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButton div.dhtmlxToolbarText {
	position: relative;
	font-weight: bold;
	font-family: Arial;
	font-size: 11px;
	padding-top: 6px;
	padding-right: 2px;
	padding-left: 2px;
}
/*****************************************************************************************************************************************************************
	BUTTONSELECT
*****************************************************************************************************************************************************************/
div table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect {
	cursor: pointer;
	font-weight: bold;
	font-family: Arial;
	font-size: 11px;
	-moz-user-select: none;
}
.dhtmlxButtonSelectTBL {
	height: 31px;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.itemDefault {
	position: absolute;
	display: none;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.itemOver {
	position: absolute;
	border-left: #CECECE 1px solid;
	border-right: #CECECE 1px solid;
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_top_bg_over.gif");
	background-repeat: repeat-x;
	top: 0px;
	left: 0px;
	height: 28px;
	height= 26px;
	right: 0px;
	width= 100%;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.itemPressed {
	position: absolute;
	border-left: #303030 1px solid;
	border-right: #303030 1px solid;
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_top_bg_pressed.gif");
	background-repeat: repeat-x;
	top: -1px;
	left: 0px;
	height: 30px;
	height= 26px;
	right: 0px;
	width= 100%;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.dhtmlxToolbarButtonArrow {
	position: relative;
	width: 13px;
	height: 28px;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 10;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.dhtmlxToolbarButtonArrowDisabled {
	position: relative;
	width: 13px;
	height: 28px;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 10;
}
div.dhtmlxToolbar_AquaDark table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.dhtmlxToolbarButtonArrow {
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_btnarrow.gif");
}
div.dhtmlxToolbar_AquaDark table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.dhtmlxToolbarButtonArrowDisabled {
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_btnarrow_dis.gif");
}
div.dhtmlxToolbarVer_AquaDark table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.dhtmlxToolbarButtonArrow {
	background-image: url("../imgs/dhtmlxtoolbar/webbar_btnarrow_ver.gif");
}
div.dhtmlxToolbarVer_AquaDark table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.dhtmlxToolbarButtonArrowDisabled {
	background-image: url("../imgs/dhtmlxtoolbar/webbar_btnarrow_ver_dis.gif");
}
div table.dhtmlxToolbarTable_AquaDark td.itemButtonSelectArrow div.dhtmlxToolbarButton {
	position: relative;
	height: 100%;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButtonSelectArrow div.dhtmlxToolbarButtonDisabled {
	position: relative;
	height: 100%;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.dhtmlxToolbarButton {
	position: relative;
	height: 100%;
	color: #FFFFFF;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.dhtmlxToolbarDisabled {
	position: relative;
	height: 100%;
	color: #909090;
}

div table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.dhtmlxToolbarImage {
	position: relative;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 4px;
}
div table.dhtmlxToolbarTable_AquaDark td.itemButtonSelect div.dhtmlxToolbarText {
	position: relative;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	padding-top: 6px;
	padding-right: 2px;
	padding-left: 2px;
}
/* button's sublevel polygon */
div.dhtmlxToolbarButtonPolygon_AquaDark {
	margin-top: -4px;
	position: absolute;
	background-color: #FFFFFF;
	padding-top: 1px;
	border: #333333 1px solid;
	overflow: hidden;
}
div.dhtmlxToolbarButtonPolygon_AquaDark div.buttonItem {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	border-left: #FFFFFF 1px solid;
	border-right: #CCCCCC 1px solid;
	background-color: #F5F5F5;
	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
}
div.dhtmlxToolbarButtonPolygon_AquaDark div.buttonItemDis {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #999999;
	border-left: #FFFFFF 1px solid;
	border-right: #CCCCCC 1px solid;
	background-color: #F5F5F5;
	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
}
div.dhtmlxToolbarButtonPolygon_AquaDark div.buttonItemOver {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	border-left: #333333 1px solid;
	border-right: #333333 1px solid;
	background-color: #333333;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
}
div.dhtmlxToolbarButtonPolygon_AquaDark div.buttonItemSelected {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	border-left: #333333 1px solid;
	border-right: #333333 1px solid;
	background-color: #FF0000;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
}
div.dhtmlxToolbarButtonPolygon_AquaDark div img.buttonImage {
	position: absolute;
	width: 16px;
	height: 16px;
	margin-top: -2px;
	margin-left: -23px;
}
div.dhtmlxToolbarButtonPolygon_AquaDark div img.buttonImageFake {
	position: absolute;
	right: 2px;
	width: 0px;
	height: 0px;
}
div.dhtmlxToolbarButtonPolygon_AquaDark div.buttonSeparator {
	border-top: #D3D2D2 1px solid;
	border-bottom: #FFFFFF 1px solid;
	cursor: default;
	-moz-user-select: none;
}
/*****************************************************************************************************************************************************************
	SLIDER
*****************************************************************************************************************************************************************/
div table.dhtmlxToolbarTable_AquaDark td.itemSlider div.dhtmlxToolbarSlider {
	height: 28px;
	position: relative;
	#position: static;
	-moz-user-select: none;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSlider div.dhtmlxToolbarSliderDisabled {
	height: 28px;
	position: relative;
	#position: static;
	-moz-user-select: none;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSliderVert div.dhtmlxToolbarSlider {
	position: relative;
	#position: static;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSliderVert div.dhtmlxToolbarSliderDisabled {
	position: relative;
	#position: static;
}
div table.dhtmlxToolbarTable_AquaDark div.dhtmlxToolbarSlider {
	color: #000000;
}
div table.dhtmlxToolbarTable_AquaDark div.dhtmlxToolbarSliderDisabled {
	color: #909090;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSlider table.dhtmlxToolbarSlider td.dhtmlxToolbarSliderText {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	cursor: default;
	padding-left: 2px;
	padding-right: 2px;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSlider table.dhtmlxToolbarSlider table.dhtmlxToolbarSliderLineHor {
	height: 29px;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSlider table.dhtmlxToolbarSlider td.dhtmlxToolbarSliderImgLeft {
	font-size: 1px;
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_slider_hor_left.gif");
	background-position: center center;
	background-repeat: no-repeat;
	cursor: default;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSlider table.dhtmlxToolbarSlider td.dhtmlxToolbarSliderImgMiddle {
	font-size: 1px;
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_slider_hor_middle.gif");
	background-position: center;
	background-repeat: repeat-x;
	cursor: default;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSlider table.dhtmlxToolbarSlider td.dhtmlxToolbarSliderImgRight {
	font-size: 1px;
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_slider_hor_right.gif");
	background-position: center center;
	background-repeat: no-repeat;
	cursor: default;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSlider div.dhtmlxToolbarSliderPen {
	position: absolute;
	top: 7px;
	width: 9px;
	height: 17px;
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_slider_hor_pen.gif");
	background-repeat: no-repeat;
	-moz-user-select: none;
	cursor: default;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSlider div.dhtmlxToolbarSliderPenDis {
	position: absolute;
	top: 7px;
	width: 9px;
	height: 17px;
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_slider_hor_pen_dis.gif");
	background-repeat: no-repeat;
	-moz-user-select: none;
	cursor: default;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSlider div.dhtmlxToolbarSliderPenOver {
	position: absolute;
	top: 7px;
	width: 9px;
	height: 17px;
	background-image: url("../imgs/dhtmlxtoolbar/aquadark/dhtmlxtoolbar_slider_hor_pen_over.gif");
	background-repeat: no-repeat;
	-moz-user-select: none;
	cursor: default;
}
div.dhtmlxToolbarSliderPenLabel_AquaDark {
	position: absolute;
	border: #A3A172 1px solid;
	background-color: #FFF992;
	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	cursor: default;
	-moz-user-select: none;
	z-index: 8422;
}
/* vert */
div table.dhtmlxToolbarTable_AquaDark td.itemSliderVert table.dhtmlxToolbarSlider td.dhtmlxToolbarSliderImgLeft {
	font-size: 1px;
	height: 3px;
	width: 2px;
	background-image: url("../imgs/dhtmlxtoolbar/webbar_sliderleftvert.gif");
	background-position: center center;
	background-repeat: no-repeat;
	cursor: default;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSliderVert table.dhtmlxToolbarSlider td.dhtmlxToolbarSliderImgMiddle {
	font-size: 1px;
	height: 3px;
	background-image: url("../imgs/dhtmlxtoolbar/webbar_slidermiddlevert.gif");
	background-position: center;
	background-repeat: repeat-y;
	cursor: default;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSliderVert table.dhtmlxToolbarSlider td.dhtmlxToolbarSliderImgRight {
	font-size: 1px;
	height: 3px;
	width: 2px;
	background-image: url("../imgs/dhtmlxtoolbar/webbar_sliderrightvert.gif");
	background-position: center center;
	background-repeat: no-repeat;
	cursor: default;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSliderVert table.dhtmlxToolbarSlider td.dhtmlxToolbarSliderText {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	cursor: default;
	padding-left: 2px;
	padding-right: 2px;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSliderVert div.dhtmlxToolbarSliderPen {
	position: absolute;
	left: 4px;
	width: 9px;
	height: 17px;
	background-image: url("../imgs/dhtmlxtoolbar/webbar_sliderpenvert.gif");
	background-repeat: no-repeat;
	-moz-user-select: none;
	cursor: default;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSliderVert div.dhtmlxToolbarSliderPenDis {
	position: absolute;
	left: 4px;
	width: 9px;
	height: 17px;
	background-image: url("../imgs/dhtmlxtoolbar/webbar_sliderpendisvert.gif");
	background-repeat: no-repeat;
	-moz-user-select: none;
	cursor: default;
}
div table.dhtmlxToolbarTable_AquaDark td.itemSliderVert div.dhtmlxToolbarSliderPenOver {
	position: absolute;
	left: 4px;
	width: 9px;
	height: 17px;
	background-image: url("../imgs/dhtmlxtoolbar/webbar_sliderpenoververt.gif");
	background-repeat: no-repeat;
	-moz-user-select: none;
	cursor: default;
}
